ha-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h1 {
    text-align: center;
    margin-top: 1rem;
    flex: 0 0 0;
  }

  div.todo-container {
    display: grid;
    grid-template-columns: 1fr;
    flex: 1 1 auto;
    min-height: 1px;
    margin: 0 1rem 1rem 1rem;
    gap: 1rem;

    mat-card {
      background-color: #FFEEC1;
    }
  }
}

@media screen and (min-width: 500px) {
  ha-root {
    div.todo-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 750px) {
  ha-root {
    div.todo-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}


@media screen and (min-width: 1250px) {
  ha-root {
    div.todo-container {
      grid-template-columns: repeat(5, 1fr);;
    }
  }
}
